:root{
    --base-transition:all .25s cubic-bezier(0.32, 0.51, 0.21, 1.28);
    --base-transition-easy:all .3s cubic-bezier(0.19, 1, 0.22, 1); 
}
.rounded-corner {
    border-radius:8px 0 8px 0;
}
.text-green{
    color: #FFB378;
} 

.container-space{
    padding-left: 16px;
    padding-right: 16px;
}  
.container,.container-fluid{
    max-width:1199px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
} 
.container-fluid{  
    max-width: 1800px;
}