:root{
    --base-transition:all .25s cubic-bezier(0.32, 0.51, 0.21, 1.28);
    --base-transition-easy:all .3s cubic-bezier(0.19, 1, 0.22, 1); 
}
.rounded-corner {
    border-radius:8px 0 8px 0;
}
.text-green{
    color: #FFB378;
} 

.container-space{
    padding-left: 16px;
    padding-right: 16px;
}  
.container,.container-fluid{
    max-width:1199px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px; 
    padding-right: 15px;
} 
.container-fluid{  
    max-width: 1800px;
}
.product-v-tab{
  ul>li{
    .check-icon{
      margin-bottom: -23px;
      opacity: 0;
      transition: all .2s ease-out;
    }
    &.active{
      .check-icon{
        margin-bottom: 0;
          opacity: 1;
      }
    }
  }
} 
.prod-tab-footer{
    border-top: 1px solid #E0E0E0;
    box-shadow: 0px -12px 12px rgba(0, 0, 0, 0.1);
}
.product-v-tab{
    .cat-navbar,.tab-content{
        height: 100%;
        overflow-y: auto;
        max-height: calc(100vh - 300px);
    }
}
.popup__viewport{
    overflow-y: auto;
    max-height: calc(100vh - 300px);
}