.arrow-btn{
    height: 48px;
    width: 48px;
    z-index: 5;
    position: relative; 
    &::before{
        content: "";
        background-color: #212121; 
        inset: 0;
        z-index: -1;
        border-radius: 5px; 
        position: absolute; 
        transition: var(--base-transition);
    }
    .arrow-secondary{
        transform: translateX(-100%); 
    }
    .arrow-primary,.arrow-secondary,.icon{
        transition: var(--base-transition);
    }
    &:hover{
        &::before{
            transform: scale(1.1); 
        }
        .arrow-secondary{
            transform: translateX(0%); 
        }
        .arrow-primary{
            transform: translateX(100%);   
        }
        .icon{
            transform: rotate(-45deg);
        }
    }
}
    .btn__main {
        background-color: #FFC300;
        color: #212121;
        padding:13px 23px;
        border-radius: 10px;
        cursor: pointer; 
        transition: all .25s; 
        border: 1px solid transparent; 
        white-space: nowrap;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        @media (max-width:991px){
            font-size: 14px; 
        }
        svg{
            min-width: 1em;
        }
        &:hover{
            background-color: #ffc400ef;
        }
        &.btn-gray{
            background-color: #F7F7F7;
            color: #232323;
        }
        &.btn-gray:hover{
            background-color: #212121;
            color: #fff; 
        }
        &.btn-sm {
            padding:6px 15px;
            font-size: 14px;
            border-radius: 4px; 
        }
        &.btn-transparent{
            background-color: transparent;
            &:hover{
                background-color: #ede5e5;
            }
        }
        &.btn-gray-outline {
            background-color: transparent;
            border-color: #D9D9D9;
            &:hover{
                background-color: #ede5e5;
            }
        }
    }