.form__checkbox {
    width: 1em;
    min-width: 1em;
    height: 1em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position:50% 60%;
    background-size: 0.6em;
    border: 1px solid #212121;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
    border-radius:.2em;
    font-size:20px; 
    @media (max-width:991px){
        font-size: 18px; 
    }
} 
input[type="radio"].form__checkbox{
    border-radius: 50%;
    border-color: #616161;
}
.form__checkbox:checked{
    background-color: #212121;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.66667L4.80769 7L10 1' stroke='%23FFC300' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}  
input[type="radio"].form__checkbox:checked{
    background-color:#212121;
    border-color: #212121; 
    background-position: center;
    background-size:.5em;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='5' fill='white'/%3E%3C/svg%3E%0A");
}  
.form__input{
    display: block;
    width: 100%;
    padding: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#333333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:#fff;
    background-clip: padding-box;
    border:1px solid #E2E2E2;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
    font-size:14px;
    &:focus{
        border-color: #212121; 
    }
    &::placeholder{
        color: #767676;
    }
}