.navbar-icon {
    gap: 8px;

    li>a,
    li>button {
        height: 48px;
        width: 48px;
        border-radius: 1000px;
        background-color: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #ede5e5;
        }
    }
}

.navbar-list {
    li>a {
        padding: 18px 15px;
        font-size: 14px;
        line-height: 100%;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;

        &:hover {
            background-color: #F8F8F8;
        }
    }
}

.megamenu-wrap {
    transition: var(--base-transition-easy);

    &.active {
        transform: translateY(100%);
    }
}

.navbar {
    max-width: 1140px;
    margin-inline: auto;
    position: relative;
    z-index: 99999;
    background-color: white;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        font-size: 14px;
        color: #212121;
        font-weight: 600;
        text-align: center;
        padding: 18px 20px;
        background-color: transparent;
        border-radius: 4px;
        position: relative;

        i {
            color: #212121;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            inset-inline: 0px;
            width: 0%;
            height: 2px;
            background-color: #212121;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            background-color: #f8f4f4;

            &::before {
                width: 100%;
            }
        }
    }

    li {
        &:hover {
            .megamenu {
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%) translateY(0px);
                pointer-events: all;
            }
        }
    }

    .megamenu {
        position: absolute;
        top: calc(100% + 0.5px);
        left: 50%;
        width: 1140px;
        background-color: white;
        z-index: 9;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(-30px);
        pointer-events: none;
        padding-block: 36px;
    }

    .megamenu-inner {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .megamenu__single {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 12px;
        padding-right: 16px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        width: calc(25% - 9px);

        &:hover {
            background-color: #f8f4f4;
        }

        img {
            border-radius: 4px;
        }

        a {
            font-size: 14px;
            color: #212121;
            font-weight: 600;
        }
    }
}

// switch language popup
.language-modal {
    position: fixed;
    inset: 0px;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;

    .modal-overlay {
        background-color: #000000;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }

    .language-modal-content {
        width: 100%;
        max-width: 350px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        z-index: 999999;
        padding: 35px 40px;
        border-radius: 20px;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;

        .modal-content__header {
            display: flex;
            align-items: center;
            gap: 12px;
            justify-content: space-between;
            flex-wrap: wrap;

            p {
                font-size: 18px;
                font-weight: 600;
                color: #212121;
            }

            i {
                font-size: 20px;
                color: #212121;
            }
        }

        .modal-image {
            margin: 35px 0px;
            text-align: center;

            img {
                max-width: 104px;
            }
        }
    }
}

.language-modal-active {
    opacity: 1;
    visibility: visible;

    .modal-overlay {
        visibility: visible;
        opacity: 0.15;
    }

    .language-modal-content {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }
}

// sidebar cart
.cart-modal {
    position: fixed;
    inset: 0px;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;

    .modal-overlay {
        background-color: #000000;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }

    .cart-modal-wrapper {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: white;
        width: 100%;
        max-width: 410px;
        height: 100vh;
        max-height: 100vh;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    .modal-content__header {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-block: 30px 16px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        padding-inline: 16px;
        z-index: 9;
        background-color: white;

        p {
            font-size: 18px;
            font-weight: 600;
            color: #212121;
        }

        button {
            height: 48px;
            width: 48px;
            border-radius: 1000px;
            background-color: #F7F7F7;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #ede5e5;
            }
        }

        i {
            font-size: 20px;
            color: #212121;
        }
    }

    .cart-modal__inner {
        height: calc(100vh - 469px);
        margin-top: 94px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: #cae6f7;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: black;
            border-radius: 3px;
        }
    }

    .cart-modal__footer {
        position: absolute;
        bottom: 0px;
        inset-inline: 0px;
        width: 100%;
    }

    .cart-modal__footer-one {
        padding: 16px;
        background-color: #ffe3e3;
        border-radius: 20px 20px 0px 0px;
        text-align: center;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            inset-inline: 0px;
            height: 100px;
            background-color: #ffe3e3;
            z-index: -1;
        }

        p {
            font-size: 14px;
            font-weight: 700;
            color: #212121;

            span {
                color: #EA3E3E;
            }
        }
    }

    .cart-modal__footer-two {
        padding: 16px;
        background-color: #ffffff;
        border-radius: 20px 20px 0px 0px;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .cart-modal__footer-two-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;

        p {
            font-size: 14px;
            font-weight: 700;
            color: #212121;
        }

        h5 {
            font-weight: 900;
            color: #212121;
            font-size: 20px;

            span {
                font-size: 24px;
            }
        }
    }

    .cart-modal__single {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-inline: 16px;
        padding-bottom: 24px;
        padding-top: 16px;
        border-bottom: 1px solid #e0e0e0;
    }

    .item__image {
        width: 86px;
        height: 86px;
        min-width: 86px;

        a,
        img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }

    .item__content {
        flex-grow: 1;
    }

    .item__content-intro {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        margin-top: -4px;
        margin-bottom: 12px;

        a {
            max-width: 180px;
            font-size: 14px;
            font-weight: 600;
            color: #212121;
        }

        button {
            font-size: 20px;
            color: #212121;
            padding-right: 10px;

            &:hover {
                color: rgb(216, 15, 15);
            }
        }
    }

    .item__component {
        ul {
            padding-left: 10px;
        }

        li {
            font-size: 10px;
            color: #767676;
            font-weight: 700;
            margin-top: 5px;
            list-style-type: disc;
            list-style-position: inside;
        }

        p {
            font-size: 10px;
            color: #767676;
            font-weight: 700;
        }
    }

    .item__cta {
        margin-top: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-grow: 1;
        width: 100%;

        a {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 8px 7px;
            background-color: #ffffff;
            border-color: #d9d9d9;
            border-width: 1px;
            border-radius: 4px;
            font-size: 13px;
            color: #1e1e1e;
            font-weight: 600;

            i {
                font-size: 16px;
            }
        }
    }

    .item__price {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;
        justify-content: space-between;
        width: 100%;

        p {
            font-size: 16px;
            font-weight: 900;
            color: #EA3E3E;
            display: flex;
            align-items: center;

            span {
                text-decoration: line-through;
                font-size: 12px;
                color: #616161;
                font-weight: 600;
                margin-left: 6px;
            }
        }
    }

    .item__quantity-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 6px 12px;
        background-color: #ffffff;
        border-color: #d9d9d9;
        border-width: 1px;
        border-radius: 4px;

        i {
            cursor: pointer;
        }

        i,
        p {
            font-size: 14px;
            color: #1e1e1e;
            font-weight: 700;

        }
    }
}


.cart-modal-active {
    opacity: 1;
    visibility: visible;

    .cart-modal-wrapper {
        transform: translateX(0px);
    }

    .modal-overlay {
        visibility: visible;
        opacity: 0.15;
    }

    .language-modal-content {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }
}

@media (max-height: 550px) {
    .cart-modal {

        .modal-content__header {
            padding-block: 16px;
        }

        .cart-modal__inner {
            height: calc(100vh - 280px);
            margin-top: 80px;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background-color: #cae6f7;
                border-radius: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 3px;
            }
        }

        .cart-modal__footer {
            height: 200px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background-color: #cae6f7;
                border-radius: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 3px;
            }
        }
    }
}


@media only screen and (max-width: 1199px) {
    .navbar {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 100%;
        max-width: 400px;
        min-height: 100vh;
        height: 100%;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        .navbar__inner {
            height: calc(100% - 78px);
            margin-top: 78px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background-color: #cae6f7;
                border-radius: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: black;
                border-radius: 3px;
            }
        }

        ul {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-inline: 20px;


            li {
                width: 100%;
                position: relative;

                a {
                    width: 100%;
                    text-align: start;
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0px !important;
                    &::before {
                        content: none !important;
                    }
                }
            }
        }

        .item__content-intro {
            display: flex;
            align-items: center;
            gap: 12px;
            justify-content: space-between;
            padding: 20px 16px;
            background-color: white;
            z-index: 9;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            width: 100%;

            a {
                max-width: 180px;
                font-size: 14px;
                font-weight: 600;
                color: #212121;
            }

            button {
                font-size: 20px;
                color: #212121;
                height: 38px;
                width: 38px;
                border-radius: 50%;
                background-color: #F7F7F7;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #ede5e5;
                }

                &:hover {
                    color: rgb(216, 15, 15);
                }
            }
        }

        .intro-inner {
            display: flex;
            align-items: center;
            gap: 8px;

            .user-name {
                font-size: 14px;
                font-weight: 600;
                color: #212121;
                text-transform: uppercase;
            }
        }

        .rgc {
            position: relative;
            display: inline;

            span {
                width: 38px;
                height: 38px;
                background-color: #D642A2;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                font-weight: 700;
                color: white;
            }

            img {
                position: absolute;
                top: 80%;
                right: 0px;
            }
        }

        li {
            .megamenu {
                position: relative;
                width: 100%;
                transform: unset;
                transform: translateY(30px);
                inset: unset !important;
                height: 0px;
                padding-block: 0px;
                display: none;

                .megamenu-inner {
                    flex-direction: column;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                    transform: unset;
                    inset: unset !important;

                    .megamenu__single {
                        width: 100%;
                    }
                }
            }

            .megamenu-active {
                opacity: 1 !important;
                visibility: visible !important;
                transform: translateY(0px) !important;
                pointer-events: all !important;
                height: auto !important;
                display: block;
            }

        }
    }

    .navbar-active {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }

       .nav-overlay {
        background-color: #000000;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        inset: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }

        .nav-overlay-active {
        visibility: visible;
        opacity: 0.15;
    }

}