.navbar-icon{
    gap: 8px;
    li >a{
        height:48px;
        width:48px;
        border-radius:1000px;
        background-color: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: #ede5e5; 
        }
    }
}
.navbar-list{ 
    li>a{
        padding: 18px 15px;
        font-size: 14px;
        line-height: 100%;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius:5px;
        &:hover{
            background-color: #F8F8F8;
        }
    }
}   
.megamenu-wrap{
    transition:var(--base-transition-easy);
    &.active{
        transform: translateY(100%);
    }
}