.swiper .swiper-button-prev, .swiper .swiper-button-next {
    z-index: 50;
    background-color: #fff;
    border-radius: 500px;
    border: 1px solid #E0E0E0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 40px;
    height: 40px;
    font-size:10px;   
    color: #000000;   
} 
.swiper .swiper-button-prev svg, .swiper .swiper-button-next svg{
    width: 1em;
    height: auto;
}
.swiper .swiper-button-prev svg path, .swiper .swiper-button-next svg path{
    fill: currentColor; 
}
.nav-none .swiper-button-prev, .nav-none .swiper-button-next {
    display: none;
} 
.swiper-button-next,.swiper-button-prev{
    transition:var(--base-transition);
}
.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
.slide-nav-wrap{
    li{
        color: #757575; 
        transition:var(--base-transition-easy);
    }
    li.active,li:hover{
        background-color: #F7F7F7;
        color: #212121; 
    }
    li.active{
        font-weight: 600;
    }
}
.inline-slide-wrapper{
    @media (max-width:991px){
        overflow: hidden;
        .swiper{
            overflow: initial;
            padding-right:60px; 
        }
    }
}
.fancybox__container.themeic__gallery{
    .fancybox__thumbs{
        display: flex;
        align-items: center;
        justify-content: center;
        .f-thumbs__viewport{
            width: 100%;
            margin: 0;
        }
    }
}
.f-button.is-arrow.is-prev, .f-button.is-arrow.is-next {
    border: 1px solid #fff;
    background-color: #ffffff26;
} 