@import url("./bold/style.css");
@import url("./duotone/style.css");
@import url("./fill/style.css");
@import url("./light/style.css");
@import url("./regular/style.css");
@import url("./thin/style.css");
