@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&display=swap');
@import "tailwindcss";
img{
    max-width: 100%; 
}
body{
    font-family: "Noto Sans HK", sans-serif; 
}
.ff-noto{
    font-family: "Noto Sans HK", sans-serif; 
}
.title-lg{
    font-size: 24px;
    line-height: 36px;
}
.title-md{
    font-size: 20px;
    line-height: 36px;
}
.text-sm{
    font-size: 12px;
    line-height: 18px;
}