@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');

@import "tailwindcss";
img {
	max-width: 100%;
}

a,
button {
	cursor: pointer;
    transition: all 0.15s ease-in-out;
}
